*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
    /* width: 100%;
    height: fit-content;
    overflow-x: hidden; */
}

:root{
    --box-shadow:0px 0px 0px 6px rgb(255 255 255/40%);
    --orange: #fcc927;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

sup{
    position: absolute;
    top: 10%;
    background: none;
    color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    line-height: 5px;
    text-align: center;
    padding: 0rem;
    font-size: 15px;
}
.btn{
    padding: .8rem 2.5rem;
    text-transform: uppercase;
    color:black ;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover{
    background: black;
    color: var(--orange);
}

.title{
    text-align: center;
    margin-bottom: 1rem;
}
.title h1{
    font-size: 2rem;
}
.title span{
    font-size: 1.2rem;
}

.line, .line4{
    /* background-image: none; */
    width: 100%;
    height: 100px;
    margin-top: -3.6rem;
}

.line{
    margin-bottom: 10rem;
}

.line2,.line3{
    /* background-image: none; */
    width: 100%;
    height: 100px;
    margin-top: -3.5rem;
}

.line3{
    margin: bottom 7rem;
}

.message,.empty{
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    width: 59%;
    height: fit-content;
    padding: .1rem 1.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    color: #fff;
}
.empty{
    text-align: center;
    justify-content: center;
    padding:1rem;
}

.message > button{
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid white;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.alert-message{
    position: fixed;
    top: 10%;
    width: 50%;
    height: 50px;
    background-color: #000;
    color: #f5f5f5;
    border: 1px solid grey;
    border-radius: 10px;
    z-index: 11;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
}

.alert-message > button{
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid white;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

input,button,textarea,select{
    outline: none;
    border: 1px solid #55555544;
    background: transparent;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin: 1rem 0;
}

button{
    cursor: pointer;
}

input[type=submit]{
    cursor: pointer;
}

/* ----------form container------------- */

.form-container-contact{
    background: var(--orange);
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 0;
    /* position: relative; */
}

.form-container-contact > form {
    width: 600px;
    height: fit-content;
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
}

.form-container-contact > form > button {
    background: #000;
    color: var(--orange);
    font-size: 1rem;
}

.form-container{
    background: var(--orange);
    width: 100%;
    height: 100vh;
    padding: 4rem 0;
    position: relative;
}

.form-container::before,
.show-products::before,
.message-container::before,
.order-container::before
{
    content: "";
    position: absolute;
    /* background: url(""); */
    top: -5%;
    left: -10px;
    width: 255px;
    height: 650px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
}

.form-container::after{
    content: "";
    position: absolute;
    /* background: url(""); */
    bottom: 0;
    right: 0px;
    width: 255px;
    height: 220px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 1;
}

.form-container h1{
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 2.3rem;
    text-align: center;
}

.form-container form{
    width: 60%;
    margin: 1rem auto;
    background: rgb(255 255 255/80%);
    padding: 2rem;
    position: relative;
    border-radius: 5px;
}

.form-container form label{
    text-transform: uppercase;
    width: 100%;
}

.form-container form  input{
    width: 85%;
}

.form-container form textarea{
    width: 85%;
    height: 200px;
}

.form-container form button{
    width: 85%;
    background: var(--orange);
    border: none;
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
     justify-content: center;
     align-items: center;
}

/* ---------banner--------- */

.banner{
    background: var(--orange);
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 1;
}

.banner::before{
    position: absolute;
    content: "";
    bottom: -18%;
    right: 0;
    /* background-image: url(); */
    width: 316px;
    height: 245px;
    background-size: 316px;
    background-repeat: no-repeat;
}

.banner .detail{
    position: absolute;
    padding: 7rem 0;
    left: 15%;
    text-align: center;
    z-index: 200;
}

.banner .detail h1{
    font-size: 4rem;
    color: #fff;
    text-transform: capitalize;
}

.banner .detail p{
    font-size: 18px;
    line-height: 2;
}
.banner .detail a{
   text-transform: uppercase;
   color: #000;
}

.banner .detail span{
    color: #fff;
}
/* ---------header--------- */


header{
    position: fixed;
    top:0%;
    left: 0;
    width: 100%;
    z-index: 101;
    padding: .5rem 0;
    transition: .3s;
    
}

header.scrolled{
    background: #fff;
    box-shadow: 0 5px 20px 0.1px rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
}

header.scrolled a:hover{
    color: var(--orange);
}

.flex{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
}

.navbar a:hover,
header .icons i:hover{
    color: black;
    text-decoration: none;
}


.header .icons{
    display: flex;
    align-items: center;

}

.header .icons i{
    margin-left:1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}
#menu-btn{
    display: none;
}

.header .user-box{
    position: absolute;
    top: 120%;
    right: 2rem;
    background:rgba(25, 24, 24, 0.1);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 25rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 2;

}

.header .user-box.active{
    transform: scale(1.0);
    transition: 0.2s linear;
}

.logout-btn{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    width: 10rem;
}

/* --------------- admin product page ------------- */

.add-products{
    margin-top: -3.5rem;
    height: auto;
    background: #f5f5f5;
    position: relative;
}

.show-products,.message-container,.order-container{
    position: relative;
    background: var(--orange);
    margin-top: -3.5rem;
}



.show-products::before,
.order-container::before
{
    /* background-image: ; */
    top: -100px;
}

.show-products .box-container{
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
}
.box-container .box{
    line-height: 2;
}
.box-container .box h4{
    text-transform: capitalize;
}
.box-container .box img{
    width: 100%;
    margin-bottom: 1rem;
}

.edit,.delete{
    color: black;
    background: var(--orange);
    padding: .5rem 1.5rem;
    text-transform: capitalize;
    line-height: 2;
}

.update-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: var(--orange);
   opacity: 0.9;
   z-index: 5;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: none;
    flex-direction: column;
    transition: all 0.2s ease;
}

.update-container form{
    box-shadow: var(--box-shadow);
    width: 50%;
    height: 100%;
    opacity: 1;
    z-index: 10;
    overflow-y: scroll;
    background: #fff;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
}

.update-container .edit,
.update-container .btn{
    width:40%;
    cursor: pointer;
}

.update-container form img{
    width: 60%;
}
/* --------------- admin dashboard ------------- */

.dashboard{
    background: var(--orange);
    padding: 3rem;
    margin-top: -3.5rem;
    position: relative;
}

.dashboard::before{
    position: absolute;
    content: "";
    top: -25%;
    left: -10px;
    /* background-image: url(); */
    width: 225px;
    height: 220px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
}

.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    column-gap: 1rem;
}

.box-container .box{
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    margin: 1rem;
}

.dashboard h3{
    text-align: center;
    font-size: 2rem;
}

.dashboard p{
    font-size: 20px;
    text-transform: capitalize;
    margin: .5rem 0;
}

.message-container .title,
.order-container .title
{
    text-transform: uppercase;
    padding-top: 3rem;
}

.order-container{
    padding: 3% 7%;
}

.order-container .box-container{
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    justify-content: center;
    align-items: flex-start;
}

.box-container .box{
    text-align: left;
    padding: 1rem 2rem;
}

.order-container .box p{
    margin-bottom: .5rem;
    text-transform: capitalize;
    color: hotpink;
    
}
.order-container .box span{
    color: #555;
}

.order-container form{
    text-align: center;
}

.order-container form select{
    width: 100%;
    margin: 1rem auto;
    padding: .5rem 0;
    cursor: pointer;
    border-radius: 3px;
}

.order-container form input{
    width: 40%;
    border-radius: unset;
}
.order-container .box .delete{
    width: 40%;
}

/* ----------------home-slider------------- */

.container-fluid{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-item{
    position: relative;
    overflow: hidden;
    display: none;
}

.show-carousel{
    display: block;
}
.slider-item img{
    width: 100%;
}


.slider-caption{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 5%;
}
.slider-caption > .btn{
    border: 1px solid black;
    border-radius:10px ;
}
.slider-caption h1{
    font-size: 40px;
}

.slider-caption p{
    font-size: 20px;
    margin-bottom: 2rem;
    line-height: 2;
}

.next,.prev,
.next1,.prev1
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f7b90f;
    box-shadow: var(--box-shadow);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.next{
    right: 1rem;
}
.prev{
    left: 1rem;
}
.next1{
    right: 1rem;
}
.prev1{
    left: 1rem;
}

/* --------------services------------------ */

.services{
    background-repeat: no-repeat;
    padding: 10% 5%;
    position: relative;
}

.services::before,
.testimonial-fluid::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 189px;
    height: 409px;
    z-index: 1;
}

.services .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
     justify-content: center;
     align-items: center;
}

.services .row .box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 10px;
}

.services .row .box img{
    background-color: var(--orange);
    padding: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.services .row .box div{
    font-size: 14px;
    color: #555;
    margin-bottom: .3rem;
}


.discover,.newslatter{
    padding: 8% 6%;
    background-color: #f5f5f5;
    position: relative;
}
.story{
    background-color: #f5f5f5;
    position: relative;
    padding: 1rem 0;
}

.story::before{
    content: '';
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 170px;
    height: 250px;
    z-index: -1;
}

.story .row {
    grid-template-columns: repeat(auto-fit,minmax(40rem,1rem));
    gap: 30px;
    
}

.story .row .box span{
    font-size: 40px;
    color: var(--orange);
}

.story .row .box h1{
    margin: 1rem 0;
}
.story .row .box p{
    color: #555;
    line-height: 2;
    margin: 1rem 0;
    font-size: 18px;
}

.story .row .box .btn{
    background: var(--orange);
    color: #fff;
}

.story .row .box img{
    width: fit-content;
    height: 400px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


.testimonial-fluid{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--orange);
    margin-top: -3rem;

}

.testimonial-fluid .title{
    padding-top: 5rem;
}

.testimonial-slider{
    padding-bottom: 3rem;
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
}

.testimonial-item-hide{
    display: none;
}

.testimonial-item{
    margin: 0 auto;
    /* margin-top:2rem; */
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
    height: 100%;
    text-align: center;
}

.testimonial-item img {
    text-align: center;
    margin: 1.4rem auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.testimonial-caption{
    line-height: 1.5;
}

.next1,.prev1{
    top: 60%;
}

/*----------- discover--------------------- */

.discover::before{
    content: '';
    position: absolute;
    top: -180px;
    left: -100;
    width: 425px;
    height: 420px;
    z-index: -1;
}

.discover::after,
.team::before{
    content: '';
    position: absolute;
    bottom: -120px;
    right: 0;
    width: 300px;
    height: 230px;
    z-index: 1;
    background-size: 300px;
}

.discover .detail{
    max-width: 60%;
    margin: 1rem auto;
    text-align: center;
}

.discover .detail p{
    color: #555;
    padding: 20px;
    font-size: 20px;
}

.discover .detail span{
color: var(--orange);
font-size: 20px;
}

.discover .detail .btn{
    border: 1px solid orange;
    text-align: center;
}

.discover .img-box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 10px;
}

.discover .img-box img{
    width: fit-content;
    height: 400px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

/*----------------- shop ----------------- */

.popular-brands{
    position:relative;
    padding: 4%;
   
    width: 100%;
}

.popular-brands h2{
    margin-bottom: 2rem;
}

.popular-brands-content{
    display: flex;
    overflow-x: auto;
}
.popular-brands-content .card{
    width: 300px;
    margin: 1px;
   box-shadow: var(--box-shadow);
}


.popular-brands-content img{
    width: 100%;
    height: 250px;
    transition: 2s;
}

.popular-brands .control{
    position: absolute;
    right: 5%;
    top: 8%;
}


.left,.right{
    border: 1px solid black;
    color: grey;
    padding: .5rem;
    margin: 1rem 0;
    cursor: pointer;
}

.right:hover,
.left:hover{
    border: 1px solid var(--orange);
    color: var(--orange);
}

.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    column-gap: 1rem;
}

.box-container .box,
.popular-brands-content .card{
    background:#fff;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    border-radius: 10px;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
}

.box-container .box img{
    width: 100%;
    height: 250px;
}



.box-container .box .icon,
.popular-brands-content .card .icon{
    display: flex;
    padding:2px 10px;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    margin: 1rem;
}

.box-container .box button,
.popular-brands-content .card button{
    border: none;
    cursor: pointer;
}

.box-container .box .icon button,
.box-container .box .icon a,
.popular-brands-content .card .icon button,
.popular-brands-content .card .icon a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #fff;
    margin: .5rem;
    box-shadow: var(--box-shadow);
}

.price{
    position: absolute;
    text-align: 5%;
    left: 5%;
    top: 2%;
    font-weight: bold;
    font-size: 1.5rem;
}



/*----------------- newslatter ----------------- */

.newslatter{
    position: relative;
    text-align: center;
}

.newslatter::before,
.about-us::before{
    content: '';
    position: absolute;
    top: -5%;
    left: -17px;
    width: 216px;
    height: 245px;
    z-index: 1;
}
.newslatter::after,
.form-container::before{
    content: '';
    position: absolute;
    bottom: 71px;
    right: 0px;
    width: 300px;
    height: 320px;
    z-index: 1;
}

.newslatter p{
    color: #555;
    line-height: 1;
    margin: .5rem 0;
    font-size: 18px;
}

.newslatter input{
    width: 50%;
    margin: 0;
}

.newslatter button{
    width: 20%;
    background: var(--orange);
    margin: 0;
    border-radius: 5px;
}

.client{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    margin: 2rem auto;
    padding-bottom: 3rem;
}


/*----------------- footer ----------------- */

footer{
    background: var(--orange);
    width: 100%;
    margin-top: -3.5rem;
    position: relative;
}

footer::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    opacity: .2;
    width: 100%;
    height: 100%;
}

footer .inner-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin:  0 auto;
    padding-top: 10rem;
    z-index: 101;
}

footer .inner-footer .card{
margin: .5rem;
}

footer .inner-footer .card h3{
    font-weight: normal;
    text-transform: uppercase;
    padding-top: .5rem;
    position: relative;
}

footer .inner-footer .card h3::before{
    position: absolute;
    content: '';
    width: 60%;
    height: 2px;
    background:#000;
    bottom: 0;
    left: 0;
}


footer .inner-footer .card h3::after{
    position: absolute;
    content: '';
    width: 10%;
    height: 5px;
    background:#000;
    right: 40%;
}

footer .inner-footer .card li{
    cursor: pointer;
    line-height: 1.5rem;
    color: black;
    font-size: 16px;
}

footer .inner-footer .card li:nth-child(1),
footer .inner-footer .card p{
    margin-top: 1rem;
}

footer .inner-footer .card input{
    width: 80%;
    box-shadow: none;
    border: 1px solid black;
    border-radius: unset;
    margin: 0;
}

footer .inner-footer .card .input-field i{
color: white;
background: rgb(255 255 255/40%);
padding: 1rem;
margin-left: .3rem;
cursor: pointer;
}

footer .inner-footer .card .social-links{
    margin-top: 1rem;
}

footer .inner-footer .card .social-links i{
    border-radius: 50%;
    background: white;
    box-shadow: var(--box-shadow);
    line-height: 50px;
    text-align: center;
    color: var(--orange);
    cursor: pointer;
    padding: .6rem;
    margin-left: 1rem;
}
footer .bottom-footer{
   text-align: center;
   padding: 3rem 0;
   border-top: 1px solid black;
}




/* ---------------about-us-------------- */

.about-us{
    background: #f5f5f5;
    position: relative;
}

.about-us .row{
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    padding: 6% 4%;
}

.about-us .row p{
    line-height: 2;
    color: #555;
    font-size: 18px;
}

.about-us .img-box img{
    width: 100%;
    border-radius: 10px;
}

/* ---------------about-us features-------------- */

.features{
    background: var(--orange);
    padding: 3rem ;
    margin-top: -3.5rem;
    min-height: 70vh;
    position: relative;
}

.features .title span{
    color: #f5f5f5;
}

.features .row{
    padding-top: 4%;
    /* grid-template-columns: repeat(auto-fit,minmax(15rem,1fr)); */
}

.features .row .box{
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    margin: 1rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.features .row .box h4{
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.features .row .box img{
    /* background: #fff; */
    /* z-index: 20; */
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0rem;
    margin-bottom: 1rem;
}

/* ------------------team ------------------*/

.team{
    text-align: center;
    background: #f5f5f5;
    padding: 3rem 0;
    position: relative;
}

.team::before{
    width: 225px;
    height: 420px;
    background-size: 250px;
    left: -50px;
    top: -100px;
}

.team .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}

.team .row .box{
    margin: 1rem;
}

.team .row .box .img-box img{
    width: 180px;
    height: 200px;
    border-radius:10px ;
}

.team .row .box .detail{
    border-radius: 5px;
    padding: 1rem;
    line-height: 1.5rem;
    background: #fff;
    margin-top: .5rem;
    cursor: pointer;
}


.team .row .box .detail:hover{
    background: var(--orange);
}

.team .row .box .detail i {
    color: white;
    margin: .3rem;
    cursor: pointer;
}


.address {
    width: 100%;
    background: #f5f5f5;
}
.address .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.address .row .box{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem 0;
}


/* ---------------View page------------- */

.view_page{
    padding: 5% 8%;
}

.view_page form{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    justify-content: center;
    align-items: center;
}

.view_page form img {
    width: 100%;
    height: 100%;
    padding: .5rem;
    border-radius: 50%;
    background: var(--orange);
}

.view_page form .name{
    font-size: 3rem;
    margin-bottom: -1rem;
    text-transform: capitalize;
    color: var(--orange);
}

.view_page form .detail,
.view_page form .price{
    font-size: 18px;
    color: grey;
    line-height: 2;
}


.view_page form .price{
    position: relative;
    left:0;
}



.view_page form .icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    border: 2 px solid orange;
    border-radius: 3px;
    margin-top: 1rem;
}

.view_page form .icon button{
    background: transparent;
    outline: none;
    color: black;
    margin: 0.5rem;
    width: 50px;
    height: 50px;
    padding: .1rem 0.5rem;
    cursor: pointer;
}


/* ---------------Wishlist------------- */

.disabled{
    pointer-events: none;
    opacity: .5;
}

.wishlist_total{
    width: 100%;
    box-shadow: var(--box-shadow);
    margin: 2rem auto;
    border: 1px solid gainsboro;
    text-align: center;
    padding: 3rem 0;
    line-height: 2;
    text-transform: capitalize;
    margin-bottom: 3rem;

}

.wishlist_total p{
    font-size: 1.5rem;
}

.wishlist_total a{
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 2rem;
}

.qty{
    display: flex;
    justify-content: space-between;

}

.qty input[type="number"]{
    width: 35%;
}
.qty input[type="submit"]{
    width: 55%;
    cursor: pointer;
    background:var(--orange);
    box-shadow: none;
    color: #fff; 
}

.dlt{
    text-align: center;
    text-transform: capitalize;
    background-color: #000;
    color: var(--orange);
    width: 100%;
    margin: auto;
    padding: .5rem 0;
    border-radius: 5px;
}

.dlt a{
    color: var(--orange);

}

.wishlist_total .btn{
    background: var(--orange);
    color: #fff;
    margin: 1rem;
}


/* ---------------checkout page------------- */

.display-order{
    display: grid;
    place-items: center;
    /* box-shadow: 10px 10px 10px grey; */
    width: 100%;
  
    text-align: center;
   
    line-height: 2;
}

.display-order .box-container{
    /* width: 400px; */
    height: fit-content;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* grid-template-columns: repeat(auto-fit,minmax(15rem,1fr)); */
}

.display-order .box{

display: flex;
flex-direction: column;
box-shadow: 0px 0px 10px grey;
/* border: 1px solid black; */
padding: 10px;
width: 169px;
height: 200px;

align-items: center;
}

.display-order .box img {
  width: 100px;
  height: 100px;
    border-radius: 50%;
}

.display-order span{
    display: inline-block;
    background:#f5f5f5;
    padding: .4rem;
    border-radius: 3px;
    text-transform: capitalize;

}

.display-order .grand-total{
    width: 90%;
    background: var(--orange);
    color: #fff;
    cursor: pointer;
}

.checkout-form{
    width: 100%;
    display: grid;
    place-items: center;
}

.checkout-form form{
    width: 400px;
    box-shadow: 0px 0px 10px grey;
    border-radius:10px;
    padding: 2rem;
    margin: 2rem 0;
}

.input-field label{
    margin: .6rem 0;
    text-transform: uppercase;
}



/* ---------------media screen------------- */

@media screen and (max-width:991px) {
    #menu-btn{
     display:block;
    }

    .header .flex .navbar{
        position: absolute;
        top: 175%;
        display: none;
        right: 0;
        width: 100%;
        border-top: 1px solid #000;
        background: #fff;
        transition: .3s ease;
        transform-origin: top;
        /* clip-path: polygon(0 0 ,100% 0, 100% 0,0 100%); */
    }

    .header .flex .navbar.active {
        display: block;
        transform-origin: top;
        clip-path: polygon(0 0 ,100% 0, 100% 100%,0  100%);
    }
    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }
    .header .flex .navbar a:hover{
    color: var(--orange);
    }

    .banner .detail{
        padding: 5rem 0;
        left: 5%;
       
    }
    
    .banner .detail h1{
        font-size: 3rem;
        color: #fff;
        text-transform: capitalize;
    }
    
    .banner .detail p{
        font-size: 18px;
    }

   
}


@media screen and (max-width:700px) {
     /* ----------------------------for form */
     .services .row{
        display: block;
    }
     .form-container-contact{
        padding: 1rem ;
     }
     .form-container-contact > form {
        width: 100%;
        
    }
}

@media screen and (max-width:500px) {
    .services{
        padding: 0;
    }
    .services .row,.features .row{
        display: block;
    }
   .services .row .box{
     display: flex;
     flex-direction: column;
     gap: 10px;
     /* width: 100%; */
     height: fit-content;
   }
   .features .row .box{
     display: flex;
     flex-direction: column;
     gap: 10px;
     width: 100%;
     height: fit-content;
   }

   .wishlist_total{
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    text-align: center;
    padding: 3rem 0;
    line-height: 2;
    text-transform: capitalize;
    margin-bottom: 0;
}

.checkout-form form{
    width: 100%;
    box-shadow: 0px 0px 10px grey;
    border-radius:10px;
    padding: 2rem;
    margin: 2rem 0;
}
  
}

